header
	.container
		.flex.flex-center
			.logo.flex-item
				img(alt="Logo Rômulo Bastos" src="../site/assets/images/logo-romulobastos.svg" width="150px" height="auto")
			
			.heading.flex-item
				h1
					span
						| Hello!
						i.far.fa-smile-wink
					|  Rômulo Bastos 
				h2.position Tech lead | Front-end Dev | UI Design | Branding

	hr.with-shadow