header
	.container
		.flex.start.gap-5
			.logo.flex
				img.flex(alt="Logo Rômulo Bastos" src="../site/assets/images/logo-romulobastos.svg" width="150px" height="auto")
			
			.heading.flex.dir-col.center
				h1
					span
						| Hello!
						i.far.fa-smile-wink
					|  Rômulo Bastos 
				h2.position Tech lead | Front-end Dev | UI Design | Branding

	hr.with-shadow