// buttons
.btn
	position: relative
	margin: 0
	padding: 1rem 2rem
	display: inline-block
	text-align: center
	transition: all .6s ease
	border-color: $separator
	+radius(calc($gutter/6))
	
	i, svg
		+transition(0.3s)
	
	&.dashed
		border-style: dashed
		border-width: 2px
		&:hover, &:focus
			color: $secondary-lighten
			border-color: $gray

	&:hover,
	&:focus
		color: $secondary-lighten
		i, svg
			+transform(scale(1.4) rotate(10deg))

	&::after
		content: ""
		position: absolute
		width: 0
		bottom: 2px
		left: 50%
		margin: 0 auto
		box-sizing: border-box
		transition: all .3s ease
	
	&.btn-bordered
		border: 3px solid	$primary-lighten
		
	&.btn-block
		display: block

	&.btn-primary
		background: $secondary linear-gradient(90deg, $secondary-lighten, $secondary)
		color: $white

		&:hover
			background: lighten($secondary, 10%) linear-gradient(90deg, lighten($secondary-lighten, 10%), lighten($secondary, 10%))

	&.btn-underline
		&::after
			border: 0
			border-bottom-width: 1px
			border-style: solid
			border-color: $primary-lighten
			border-color: rgba(255, 255, 255, 0.1)
			z-index: 1

			&:hover, &:focus
				&::after
					width: 100%
					left: 0

	&.btn-bullet
		&::before
			content: ""
			background-color: #FFF
			background-color: rgba(255, 255, 255, 0.2)
			position: absolute
			bottom: 0
			left: 50%
			width: 5px
			height: 5px
			margin: 0 0 0 -2px
			display: block
			z-index: 2
			border-radius: 50%
	
	&.active
		color: #0C3
		&.btn-underline
			&::after
				border-color: #061

		&.btn-bullet
			::before
				background-color: #0C3