// body
body
	background: $silver
	+linear-gradient(to right, $white, $silver)

// language
.language-wrapper
	display: flex
	flex-direction: row
	justify-content: flex-start
	align-items: center

	@media (max-width: 300px)
		flex-direction: column

	.language-box
		margin: 0 2%
		padding: 0
		width: 48%
		max-width: 250px
		text-align: center
		+boxsizing(border-box)
		
		.language-item
			background: $white
			margin: 0
			padding: $gutter
			+boxshadow(0 6px 10px 0px rgba($black, .05))
			+boxsizing(border-box)
			+radius(10px)

			img
				max-width: 60px
				height: auto
				display: block
				margin: 0 auto

.supbar
	width: 100%
	height: 30px
	margin: 0
	.language-wrapper

		.language-box
			margin: 0
			width: auto
			
			.language-item
				padding: 0 4px
				height: 30px
				overflow: hidden
				+boxshadow(none)
				+radius(0)
				opacity: 0.5
				filter: saturate(50%)
				a
					.text
						display: none

				img
					margin-top: 2px
					width: 25px
					vertical-align: middle
				
				&.active
					opacity: 1
					filter: saturate(100%)
						

.main-wrapper
	width: 100%
	min-height: 100vh

	@media (max-width: 600px)
		overflow: hidden

hr
	border-color: rgba(255, 255, 255, 0.1)
	width: 100%
	height: calc($gutter*4)
	position: relative
	
	&.with-shadow
		position: relative
		border: 0
		margin: 0
		overflow: visible
		
		&::before,
		&::after
			content: ''
			position: absolute
			width: 130vw
			height: 80px
			left: -15vw
			bottom: 50px

		&::before
			border: 0
			+boxsizing(border-box)
			+radius(50%)
					
		&::after
			+boxshadow(0 26px 25px 0px rgba($black, .05))
			+radius(100%)

// animation
// i = initial | e = end
// name, i x, i y, i scale, e x, e y, e scale
.marker
	@include animation-go(marker,		-100,	0,	1)
.to-down
	@include animation-go(to-down,	0,	-50,	.9)
.to-up
	@include animation-go(to-up,		0,	50,		.9)
.to-left
	@include animation-go(to-left,	50,		0,	.9)
.to-right
	@include animation-go(to-right,	-50,	0,	.9)

// page marker
.page-marker
	position: relative
	animation: marker 1.2s ease-in-out 1
	animation-fill-mode: forwards
	animation-delay: .3s
	opacity: 0
	
	img
		position: absolute
		top: -31px
		z-index: 1

// header
header
	// background: $white
	padding: $gutter $gutter 0
	overflow: hidden
	
	.logo
		display: inline-block
		
		img
			max-width: 100%
			animation: to-down 1s ease 1
			animation-fill-mode: forwards

	.heading
		h1
			position: relative
			font-weight: 900
			animation: to-right 1s ease-in-out 1
			animation-fill-mode: forwards
			animation-delay: .5s
			opacity: 0
			
			span
				position: absolute
				bottom: 152%
				left: 6%
				background: $silver
				padding: 10px 12px
				font-size: 1.8rem
				font-weight: 400
				line-height: 2.4rem
				opacity: 0
				+radius(10px)
				filter: drop-shadow(3px 2px 0px rgba($black, .2))
				animation: to-up .9s ease-in-out 1
				animation-fill-mode: forwards
				animation-delay: 1.6s

				i
					margin-left: 10px

				&::after
					content: ''
					position: absolute
					top: 100%
					left: 30%
					width: 0
					height: 0
					border-style: solid
					border-width: 0 15px 15px 0
					border-color: transparent $silver transparent transparent
		
		.position
			animation: to-right 1s ease-in-out 1
			animation-fill-mode: forwards
			animation-delay: .7s
			opacity: 0

	nav
		margin-top: 3rem
	
		ul
			li
				display: inline-block
				margin-left: 1rem
				text-transform: uppercase
				
				&:first-child
					margin-left: 0

// spacing
.m-0
	margin: 0
.m-1
	margin: calc($gutter/6)
.m-2
	margin: calc($gutter/4)
.m-3
	margin: calc($gutter/3)
.m-4
	margin: calc($gutter/2)
.m-5
	margin: calc($gutter/1)

.mt-0
	margin-top: 0
.mt-1
	margin-top: calc($gutter/6)
.mt-2
	margin-top: calc($gutter/4)
.mt-3
	margin-top: calc($gutter/3)
.mt-4
	margin-top: calc($gutter/2)
.mt-5
	margin-top: calc($gutter/1)

.ml-0
	margin-left: 0
.ml-1
	margin-left: calc($gutter/6)
.ml-2
	margin-left: calc($gutter/4)
.ml-3
	margin-left: calc($gutter/3)
.ml-4
	margin-left: calc($gutter/2)
.ml-5
	margin-left: calc($gutter/1)

.mr-0
	margin-right: 0
.mr-1
	margin-right: calc($gutter/6)
.mr-2
	margin-right: calc($gutter/4)
.mr-3
	margin-right: calc($gutter/3)
.mr-4
	margin-right: calc($gutter/2)
.mr-5
	margin-right: calc($gutter/1)

.mb-0
	margin-bottom: 0
.mb-1
	margin-bottom: calc($gutter/6)
.mb-2
	margin-bottom: calc($gutter/4)
.mb-3
	margin-bottom: calc($gutter/3)
.mb-4
	margin-bottom: calc($gutter/2)
.mb-5
	margin-bottom: calc($gutter/1)

.p-0
	padding: 0
.p-1
	padding: calc($gutter/6)
.p-2
	padding: calc($gutter/4)
.p-3
	padding: calc($gutter/3)
.p-4
	padding: calc($gutter/2)
.p-5
	padding: calc($gutter/1)
.p-10
	padding: calc($gutter*2)

.pt-0
	padding-top: 0
.pt-1
	padding-top: calc($gutter/6)
.pt-2
	padding-top: calc($gutter/4)
.pt-3
	padding-top: calc($gutter/3)
.pt-4
	padding-top: calc($gutter/2)
.pt-5
	padding-top: calc($gutter/1)

.pl-0
	padding-left: 0
.pl-1
	padding-left: calc($gutter/6)
.pl-2
	padding-left: calc($gutter/4)
.pl-3
	padding-left: calc($gutter/3)
.pl-4
	padding-left: calc($gutter/2)
.pl-5
	padding-left: calc($gutter/1)

.pr-0
	padding-right: 0
.pr-1
	padding-right: calc($gutter/6)
.pr-2
	padding-right: calc($gutter/4)
.pr-3
	padding-right: calc($gutter/3)
.pr-4
	padding-right: calc($gutter/2)
.pr-5
	padding-right: calc($gutter/1)

.pb-0
	padding-bottom: 0
.pb-1
	padding-bottom: calc($gutter/6)
.pb-2
	padding-bottom: calc($gutter/4)
.pb-3
	padding-bottom: calc($gutter/3)
.pb-4
	padding-bottom: calc($gutter/2)
.pb-5
	padding-bottom: calc($gutter/1)

// rounded / radius
.rounded
	+radius(calc($gutter/3.75))

// dimensions
.w-100
	width: 100vw

.h-100
	height: 100vh


// flex & grid
.flex
	display: flex
	
	&-center
		justify-content: center
		// align-items: center

	.flex-item
		// flex: 1
		// background: #000

	&.dir-col
		flex-direction: column
	
	&.dir-row
		flex-direction: row
	
	&.center
		justify-content: center
	
	&.start
		justify-content: flex-start
	
	&.end
		justify-content: flex-end

	&.between
		justify-content: space-between

	&.items-center
		align-items: center
	
	&.items-start
		align-items: start

	&.items-end
		align-items: end

	&.gap-1
		gap: calc($gutter/6)
	&.gap-2
		gap: calc($gutter/4)
	&.gap-3
		gap: calc($gutter/3)
	&.gap-4
		gap: calc($gutter/2)
	&.gap-5
		gap: calc($gutter/1)

.grid
	display: grid

.list-icon
	width: 1em
	font-size: .8em
	display: inline-block
	text-align: center
	margin-left: $gutter
	margin-right: calc(calc($gutter/2))
	
	@media (max-width: 960px)
		margin-left: calc(calc($gutter/2))
		margin-right: calc($gutter/3)
		
	svg
		+transition(all linear 0.2s)
		color: $gray
		fill: $gray

// mainbody
.main
	padding: 0
	
	.title
		margin-bottom: $gutter

	.grid
		grid-template: "wel fac" "job art"
		grid-gap: $gutter
		margin-bottom: $gutter
		
		&-item
			// background: $white
			padding: $gutter
			// border: 3px solid $primary
			// +radius(10px)

			animation: to-up 1.2s ease-in-out 1
			animation-fill-mode: forwards
			opacity: 0
			
			&.welcome
				grid-area: wel
				animation-delay: 0.8s
			&.facts
				grid-area: fac
				animation-delay: 1.2s
			&.jobs
				grid-area: job
				animation-delay: 1.6s
			&.art
				grid-area: art
				animation-delay: 2s
				// background: $primary
				// border-radius: 16px
				padding: 0
				display: flex
				position: relative

				.image
					width: 100%
					height: 100%
					border-radius: 32px
					transition: all 0.9s
					background-size: cover
					background-position: top center
					background-repeat: no-repeat
					filter: grayscale(15%) brightness(85%) drop-shadow(0 0 16px rgba($primary, 30%))
					transform: scale(0.9)
					// border: 1px solid $primary
				&:hover
					.image
						filter: grayscale(0%) brightness(100%) drop-shadow(0 0 160px $primary)
						transform: scale(1)
						border-radius: 16px

			&.with-col-divisor
				position: relative
				&:after
					content: ''
					position: absolute
					top: 0
					left: 100%
					margin-left: calc(calc($gutter/2))
					width: 1px
					height: 100%
					border-right: $separator-size solid $separator
			&.with-row-divisor
				position: relative
				&:before
					content: ''
					position: absolute
					left: 0
					bottom: 100%
					margin-bottom: calc(calc($gutter/2))
					width: 100%
					height: 1px
					border-top: $separator-size solid $separator
					border-radius: 100px

		@media (max-width: 960px)
			grid-template: "wel" "fac" "job" "art"
			grid-gap: 0
			.with-col-divisor,
			.with-row-divisor
				&:before,
				&:after
					display: none
			.art
				width: auto
				.image
					width: 100%
					height: 100vw
					background-position: top center
					margin: calc($gutter/3) calc($gutter/3) $gutter
			.grid-item
				padding-left: 0
				padding-right: 0
				border-top: $separator-size solid $separator
			
			.grid-item:first-child
				border: 0

	nav
		ul
			margin: 1em 0
			
			li
				display: block
				
				a
					&:hover,
					&:focus
						color: $secondary-lighten
						.list-icon, .list-icon svg
							color: $secondary-lighten
							fill: $secondary-lighten
	
	.category
		&::before
			content: '// '
			color: $secondary-lighten
	
// footer
footer
	background: $white
	padding: $gutter 0 0
	text-align: center
	.title
		margin: 30px
	.btn
		font-size: 2.0rem
		min-width: 20px
		min-height: 20px
		line-height: 1.6rem
		// margin: 0px
		padding: 20px
		display: inline-block
		+radius(calc($gutter/6))
		transition: all ease 1s
		span
			font-size: 1.6rem

	.flex-wrap
		flex-wrap: wrap
		label
			flex: 1
			&.x2
				flex: 2.1

	// contact form
	form
		text-align: left
		label
			width: 100%
			p
				margin: 0
		input, select, textarea
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			margin: 0
			padding: calc($gutter/2) calc($gutter/2)
			border-color: $separator
			border-style: solid
			border-width: 2px
			min-height: 64px
			width: 100%
			font-size: 1.6rem
			+boxsizing(border-box)
			+radius(calc($gutter/6))
			+transition(.3s all)
			&:hover, &:focus
				outline: none
			&:hover
				border-color: $gray
			&:focus
				border-color: $secondary-lighten
		textarea
			height: calc($gutter*6)
		button.btn
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			border: 0
			cursor: pointer
			+transition(.6s all)

	.copyright
		padding: $gutter 0
		margin-top: calc($gutter*4)
		background: linear-gradient(90deg, $dark, $secondary-lighten)
		p
			color: $white

@media (max-width: 800px)
	header
		text-align: center
		.flex
			flex-direction: column
		.logo
			margin: 0 auto
		.heading
			margin-top: calc($gutter*2)
			h1 > span
				left: 25%
	
	footer
		.flex-wrap
			label
				flex: 1 1 auto

@media (max-width: 600px)
	html, body
		font-size: 8px
		letter-spacing: 0.5px
	
	header
		padding: calc($gutter) 0 0
		text-align: center
		.logo
			margin: 0 auto

	.main
		padding-top: 0
		.bio
			ul, ol
				li
					margin: 10px 0
	
	footer
		.btn
			font-size: 2.2rem
			line-height: 2rem
			span
				font-size: 2.0rem

@media (max-width: 480px)
	header
		.heading
			margin-left: 0
			margin-right: 0
			h2
				font-size: 2rem