$gutter: 30px
$separator: #E6E7E9
$separator-size: 2px

// color pallete
$blue-1: #B8CCE0FF
$blue-2: #7CA2C8FF
$blue-3: #548EC8FF
$blue-4: #2C7AC8FF
$blue-5: #0466C8FF
$blue-6: #0353A4FF
$blue-7: #023E7DFF
$blue-8: #002855FF
$blue-9: #001845FF
$blue-10: #001233FF
$green-1: #5CCFCAFF
$green-2: #2EA9A5FF
$green-3: #008581FF
$green-4: #00625FFF
$green-5: #002C2BFF
$purple-1: #EFE6FFFF
$purple-2: #A094FFFF
$purple-3: #5947B2FF
$purple-4: #200062FF
$purple-5: #0D0035FF
$gray-1: #F0F3FAFF
$gray-2: #C8CEDEFF
$gray-3: #ADB3C4FF
$gray-4: #979DACFF
$gray-5: #7D8497FF
$gray-6: #5D657AFF
$gray-7: #404961FF
$gray-8: #283147FF
$gray-9: #151C2EFF
$gray-10: #070B14FF
$highlight: #17B2FFFF

// gradients
$gradient-loop: linear-gradient(90deg, $blue-6, $purple-4, $blue-6)
$gradient-1: linear-gradient(90deg, $purple-4, $blue-6)
$gradient-2: linear-gradient(90deg, $highlight, $purple-4)
$gradient-3: linear-gradient(90deg, $purple-4, $blue-10)
$gradient-4: linear-gradient(135deg, $gray-1, $gray-3)

$primary: $gray-5

$secondary: #031F7A
$secondary-lighten: #0638E0

$dark: #123

$white: #fff
$silver: #fff
$gray: #676A87
$black: #000

// bg colors
.bg-primary
	background-color: $primary
.bg-secondary
	background-color: $secondary
.bg-secondary-lighten
	background-color: $secondary-lighten
.bg-silver
	background-color: $silver
.bg-gray
	background-color: $gray
.bg-dark
	background-color: $dark

// text colors
.primary
	color: $primary

.secondary
	color: $secondary

.secondary-lighten
	color: $secondary-lighten

.silver
	color: $silver

.gray
	color: $gray

.dark
	color: $dark