.my-jobs
	h3.title .check { my-latest: jobs; }
	.row
		h4.category.primary-lighten &nbsp;Design
		nav
			ul
				li
					a(href='https://dribbble.com/_romulobastos' rel='noreferrer' target='_blank')
						span.list-icon: i.fab.fa-dribbble
						strong Dribbble
						span.gray  &mdash; Design shots
				li
					a(href='https://www.behance.net/_romulobastos' rel='noreferrer' target='_blank')
						span.list-icon: i.fab.fa-behance
						strong Behance
						span.gray  &mdash; #[abbr(title='User Interface') UI] and Branding Projects

	.row
		h4.category.primary-lighten &nbsp;Web Development
		nav
			ul
				li
					a(href='https://villafacil.bitbucket.io/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-building
						strong Villa Fácil
						span.gray  &mdash; Condominium System
				li
					a(href='https://janacouto.netlify.app/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-cut
						strong Jana Couto
						span.gray  &mdash; Hairdresser
				//- li
					a(href='http://el4us.com/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-graduation-cap
						strong El4us
						span.gray  &mdash; Distance Learning
				//- li
					a(href='http://www.estilofe.com/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-female
						strong Estilo Fê
						span.gray  &mdash; Entertainment Blog

	.row
		h4.category.primary-lighten &nbsp;Photography
		nav
			ul
				li
					a(href='https://www.instagram.com/maximizefotografia/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-camera
						strong Maximize
						span.gray  &mdash; Photography Jobs