doctype
html(lang="pt-br")
	head
		meta(charset='utf-8')
		meta(name='description' content='Rômulo Bastos | Desenvolvimento de sites e aplicativos. Especialista HTML, CSS e Javascript. Portfolio e contato.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Rômulo Bastos | Desenvolvimento de sites e aplicativos

		link(rel='stylesheet' href='../../site/assets/css/styles.css')
		link(rel='shortcut icon' type="image/png" href='../../site/assets/images/favicon.svg')

	body.bg-dark.flex.dir-col.center.items-center.h-100
		.container.flex.dir-col.center.items-center
			.flex.dir-col.center.items-center.bg-silver.m-5.p-10.rounded
				h1.bold Obrigado!
				p Sua mensagem foi recebida.
				a.btn.btn-primary.bold.mt-5(href="/pt")
					span.mr-3
						i.fas.fa-arrow-left
					| Voltar para o site

		script(src="https://kit.fontawesome.com/6e569453ca.js" crossorigin="anonymous")