doctype
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='description' content='Rômulo Bastos | Web and application development. HTML, CSS and Javascript specialist. Portfolio and contact')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Rômulo Bastos | Web and application development

		link(rel='stylesheet' href='../../site/assets/css/styles.css')
		link(rel='shortcut icon' type="image/png" href='../../site/assets/images/favicon.svg')

	body.bg-dark.flex.dir-col.center.items-center.h-100
		.container.flex.dir-col.center.items-center
			.flex.dir-col.center.items-center.bg-silver.m-5.p-10.rounded
				h1 Thank you!
				p Your form submission has been received.
				a.btn.btn-primary.bold.mt-5(href="/en")
					span.mr-3
						i.fas.fa-arrow-left
					| Back to homepage

		script(src="https://kit.fontawesome.com/6e569453ca.js" crossorigin="anonymous")