doctype
html(lang="pt-br")
	head
		meta(charset='utf-8')
		meta(name='description' content='Rômulo Bastos | Desenvolvimento de sites e aplicativos. Especialista HTML, CSS e Javascript. Portfolio e contato.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Rômulo Bastos | Desenvolvimento de sites e aplicativos
		
		link(rel='stylesheet' href='/site/assets/css/styles.css')
		link(rel='shortcut icon' type="image/png" href='/site/assets/images/favicon.svg')
		
		include ../_partials/ga4

	body
		.supbar
			include ../_partials/pt/page-marker
			include ../_partials/pt/language
			
		.main-wrapper
			.main-cell
				include ../_partials/pt/header
				include ../_pages/pt/home
				include ../_partials/pt/footer

		script(src="https://kit.fontawesome.com/6e569453ca.js" crossorigin="anonymous")