doctype
html(lang="pt-br")
	head
		meta(charset='utf-8')
		meta(name='description' content='Rômulo Bastos - Front-end developer and digital designer. HTML, CSS and Javascript specialist. Portfolio, blog and contact page.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Rômulo Bastos -> Front-end Dev | UI Design | Branding
		
		link(rel='stylesheet' href='../site/assets/css/styles.css')
		link(rel='shortcut icon' type="image/png" href='/img/logo-romulobastos.svg')
		
		include ./_partials/ga4

	body
		.supbar
			.container
				include ./_partials/pt/language
		
		.main-wrapper
			.main-cell
				include ./_partials/pt/header
				include ./_pages/pt/home
				include ./_partials/pt/footer

		script(src="https://kit.fontawesome.com/6e569453ca.js" crossorigin="anonymous")