doctype
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='description' content='Rômulo Bastos | Web and application development. HTML, CSS and Javascript specialist. Portfolio and contact')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Rômulo Bastos | Web and application development
		
		link(rel='stylesheet' href='../site/assets/css/styles.css')
		link(rel='shortcut icon' type="image/png" href='../site/assets/images/favicon.svg')
		
		include ../_partials/ga4

	body
		.supbar
			include ../_partials/en/page-marker
			include ../_partials/en/language

		.main-wrapper
			.main-cell
				include ../_partials/en/header
				include ../_pages/en/home
				include ../_partials/en/footer

		script(src="https://kit.fontawesome.com/6e569453ca.js" crossorigin="anonymous")