.language-wrapper
	.language-box
		.language-item
			a(href="/pt/")
				img(src="../site/assets/images/pt.svg", alt="Ícone Português" title="Português")
				span.text Português
	.language-box
		.language-item
			a(href="/en/")
				img(src="../site/assets/images/en.svg", alt="Icon English" title="English")
				span.text English