.my-jobs
	h3.title Projetos
	.row
		h4.category.primary-lighten &nbsp;Design
		nav
			ul
				li
					a(href='https://dribbble.com/_romulobastos' rel='noreferrer' target='_blank')
						span.list-icon: i.fab.fa-dribbble
						strong Dribbble
						span.gray  &mdash; Peças de design
				li
					a(href='https://www.behance.net/_romulobastos' rel='noreferrer' target='_blank')
						span.list-icon: i.fab.fa-behance
						strong Behance
						span.gray  &mdash; #[abbr(title='User Interface') UI] e Identidade visual

	.row
		h4.category.primary-lighten &nbsp;Desenvolvimento web
		nav
			ul
				li
					a(href='https://villafacil.bitbucket.io/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-building
						strong Villa Fácil
						span.gray  &mdash; Sistema para condomínios
				li
					a(href='https://janacouto.netlify.app/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-cut
						strong Jana Couto
						span.gray  &mdash; Cabeleireira e Maquiadora
				//- li
					a(href='http://el4us.com/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-graduation-cap
						strong El4us
						span.gray  &mdash; Educação à distância
				//- li
					a(href='http://www.estilofe.com/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-female
						strong Estilo Fê
						span.gray  &mdash; Blog de estilo de vida

	.row.mb-0
		h4.category.primary-lighten &nbsp;Fotografia
		nav
			ul
				li
					a(href='https://www.instagram.com/maximizefotografia/' rel='noreferrer' target='_blank')
						span.list-icon: i.fas.fa-camera
						strong Maximize
						span.gray  &mdash; Trabalhos de fotografia