footer#contato
	.container
		.row
			h3.title.center Entre em contato
			
			.flex.center.flex-wrap.gap-4
				a.btn.underlined(href='https://www.github.com/romulobastos' rel='noreferrer' target='_blank' title='Github'): i.fab.fa-github
				a.btn.underlined(href='https://www.linkedin.com/in/romulobastos/' rel='noreferrer' target='_blank' title='LinkedIn'): i.fab.fa-linkedin
				a.btn.underlined(href='https://www.instagram.com/_romulobastos' rel='noreferrer' target='_blank' title='Instagram'): i.fab.fa-instagram
				a.btn.underlined(href='https://www.twitter.com/_romulobastos' rel='noreferrer' target='_blank' title='Twitter'): i.fab.fa-twitter
				a.btn.underlined.bold(href='mailto: contato@romulobastos.com.br' rel='noreferrer' title='E-mail') #[span contato@romulobastos.com.br]

		.row
			form.flex.gap-5.dir-col.center(name="contato" action="/pt/success" method="POST" data-netlify-recaptcha="true" data-netlify="true")
				.flex.gap-5.flex-wrap
					label
						p Nome
						div: input(type="text" name="nome" required)
					
					label
						p E-mail
						div: input(type="email" name="email" required)
					
					label
						p Telefone
						div: input(type="text" name="telefone" required)
				
				.flex.gap-5.flex-wrap.items-end
					label.x2
						p Mensagem
						div: textarea.flex.mb-0(name="mensagem" maxlength="300" required)
					
					label
						div
							div(data-netlify-recaptcha="true")
							button.btn.btn-primary.bold.mt-5(type="submit")
								i.mr-4.fa.fa-paper-plane-o
								| Enviar mensagem

	.copyright
		.row
			p Rômulo Bastos &copy; Desde 2010 &mdash; Rio de Janeiro, Brasil

script.
	setTimeout(function(){ document.getElementById('g-recaptcha-response').setAttribute("required", "required") }, 2000)